@model IEnumerable<User>
@{ 
    Layout = "_Layout";
}
<h2>Список пользователей</h2>

<form asp-controller="Users" asp-action="ProcessList">
    <button value="Block" name="actionBtn">Block</button>
    <button value="Unblock" name="actionBtn">
        <img src="~/icons/Unlock.svg" width="16" height="16" alt="Unblock" />
    </button>
    <button value="Delete" name="actionBtn">
        <img src="~/icons/Delete.svg" width="16" height="16" alt="Delete" />
    </button>
    <table class="table">
        <tr>
            <td><input type="checkbox" id="changeAll" onclick="changeAllClick()" name="changeAll" /></td>
            <td>Id</td>
            <td>Имя</td>
            <td>E-mail</td>
            <td>Дата регистрации</td>
            <td>Дата последнего входа</td>
            <td>Статус</td>
        </tr>
        @{
            foreach (User u in @Model)
            {
                <tr>
                    <td><input type="checkbox" name="choosenUser" value="@u.id" class="userCheckBox" /></td>
                    <td>@u.id</td>
                    <td>@u.name</td>
                    <td>@u.email</td>
                    <td>@u.registrationDate</td>
                    <td>@u.lastLogin</td>
                    @{string status;
                        if (u.isBlocked)
                            status = "Заблокирован";
                        else
                            status = "Не заблокирован";
                    }
                    <td>@status</td>

                </tr>
            }
        }
    </table>
</form>
<a asp-controller="Account" asp-action="Logout">Выход</a>

<script>    
    function changeAllClick(e) {
        var checkboxes = document.getElementsByClassName('userCheckBox');
        var changeAllBox = document.getElementById('changeAll');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = changeAllBox.checked;
        };
    }
</script>

